body {
	font-family: sans-serif;
	background-color: #eee;
}

h1,h2,h3,h4,h5,h6,.heading {
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 300;
	text-align: center;
}

.header.layout h1 {
	color: #999;
	font-weight: 100;
	font-size: 4em;
}
.header.layout h2 {
	color: #092;
	font-weight: normal;
}