/*
#45EB45 1
#40C840 2
#379937 0
#286328 3
#152C15 4
*/
body {
	font-family: sans-serif;
	font-size: 15px;
	background-color: #eee;
}

h1,h2,h3,h4,h5,h6, .heading, .sub-nav, .accent, #site-title {
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 300;
}

.heading.active { font-weight: normal; }

table tr td input[type=checkbox] { margin: 0rem; }

.button .fa {
	font-size: 1.4rem;
	line-height: 1.2rem;
}

#nav {
	background: #379937;
}

#nav .icon-bar { display: block; }

#nav .icon-bar .item {
	padding: .5rem;
	margin-top: 2px;
	transition: background-color 0.3s ease;
	transition: opacity 0.3s ease;
}

#nav .icon-bar > a:not(.active):hover {
	background: #286328;
	opacity: 1.0;
}

#nav .icon-bar > a:not(.active) { opacity: 0.5; }

#nav .icon-bar > a.active,
.icon-bar > a.active:hover { background: none; }


#site-title {
	display: inline-block;
}

#site-title h1 {
	font-size: 3em;
	margin: 0;
}

#site-title h1 a {
	color: #fff;
}

#page-title { cursor: default; }

#header h2 {
	display: inline-block;
	color: #fff;
	font-size: 2.4em;
	margin: 0 0 0 1rem;
	padding-top: .2em;	
}

#title_wrap {
	background-color: #379937;
}

#actions_wrap {
	background-color: rgba(255,255,255,0.8);
	padding: 0 0 .2rem 0;
}

#actions {
	padding-top: 3px;
}

#actions .button {
	transition: background-color .5s ease;
	transition: border-color .5s ease;

	margin: 0 0 0 .2em;
	padding: 12px 1em;
	border: 2px solid transparent;
	font-size: 1.2em;
	background-color: #379937;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

#actions .button:hover {
	background-color: #40C840;
	border-color: #666;
	color: #fff;
}

#actions .button.secondary {
	border: none;
	color: #ccc;
	background: none;
}

#actions .button.disabled {
	background: none;
	border-color: transparent;
	color: #fff;
	opacity: .3;
}

#actions .button i {
	margin: 0 .2em;
}


#body {
	margin-top: 1rem;
}


.sub-nav a, .sub-nav dt {
	font-size: 1.4em;
}

.sub-nav dd a {
	color: #379937;
}

.sub-nav dd.active a {
	background-color: #379937;
}

.sub-nav dd.active a:hover {
	background-color: #40c840;
}

#footer { text-align: center; }

#footer .columns { padding: 1em; }


ul.token-input-list-facebook {
	width: auto;
	border-color: #ccc;
	margin-bottom: 1em;
}


ul.token-input-list-facebook li input {
	height: 2.2em;
}


ul.pagination {
	text-align: center;
	margin: 1em 0;
}

ul.pagination li {
	display: inline-block;
	float: none;
}


ul.pagination li.active {
	background-color: #fff;
	color: #379937;
	font-weight: bold;
}


ul.pagination li.active span {
	padding: 0 .5em;
}


.metric {
	border-bottom: 3px solid #aaa;
	text-align: center;
	font-size: 2em;
}

.metric.secondary {
	font-size: 1.6em;
	border-bottom: 2px solid #ccc;
	margin-bottom: 1em;
	color: #999;
}

.metric, .metric a { color: #666; }

.metric .accent {
	font-size: 2em;
	font-weight: 100;
	vertical-align: middle;
	color: #333;
}

.metric a:hover, .metric a .accent { color: #286328; }

.metric.secondary a:hover, .metric.secondary a .accent { color: #379937; }

